<p>
  เว็บไซต์อักษรคือวิธีที่ง่ายที่สุดที่จะพิสูจน์อักษร ตรวจสอบการสะกดคำ คำที่มักพิมพ์ผิด คำศัพท์ต่างประเทศ การผันวรรณยุกต์ ตลอดจนการใช้เครื่องหมายวรรคตอน
</p>
<h3>สิ่งที่เราเป็น</h3>
<p>
  เว็บไซต์นี้ออกแบบมาสำหรับบุคคลหรือองค์กรที่ทำงานกับภาษาเขียน และต้องการสื่อสารอย่างถูกต้อง เป็นมืออาชีพ ภายในเวลาที่จำกัด
</p>
<p>
  การทำงานของเว็บไซต์นี้ เป็นไปตามกฎที่เขียนไว้ใน "สมุดกฎ" ทางด้านล่าง กฎเหล่านี้เป็น open source ซึ่งเปิดรับข้อเสนอแนะและ pull request จากสาธารณะ
</p>
<h3>สิ่งที่เราไม่ได้เป็น</h3>
<p>
  เว็บไซต์นี้ไม่ใช่พจนานุกรม หรือโปรแกรมตรวจสอบคำศัพท์ทั่วไป เนื่องจากมีจุดประสงค์ที่จะตรวจจับคำที่มักพิมพ์ผิดบ่อยเท่านั้น
</p>
<p>
  เว็บไซต์นี้ไม่ใช่ราชบัณฑิตฯ  เราพยายามจะยึดตามเกณฑ์ราชบัณฑิตฯ ให้บ่อยที่สุดเมื่อไม่มีข้อโต้แย้ง ยกเว้นกรณีที่รูปแบบการเขียนของราชบัณฑิตฯ ไม่ใช่แบบที่นิยมที่สุด
</p>
<p>
  เว็บไซต์นี้ไม่ต้องการเก็บข้อมูลเกี่ยวกับคุณ ข้อความที่คุณใช้ตรวจสอบด้วยโปรแกรมจะไม่ถูกส่งออกจากเครื่องคอมพิวเตอร์ของคุณ และไม่ถูกบันทึกไว้ในฐานข้อมูลใดๆ เลย เราอาจจะเก็บสถิติการใช้งานเพื่อประโยชน์ในการพัฒนาโปรแกรมเท่านั้น
</p>
