<div class="root">
  <mat-toolbar color="primary" role="heading">
    <div class="container">
      <a routerLink="/">พิสูจน์อักษร <small>(β)</small></a>
    </div>
  </mat-toolbar>

  <div class="container main">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar class="footer" role="footer">
    <div class="container flex">
      <a mat-button routerLink="/about">เกี่ยวกับ</a>
      <a mat-button href="https://blog.aksorn.org/">บล็อก</a>
      <a mat-button href="https://github.com/scomma/inscription-1">สมุดกฎ</a>
      <span class="filler"></span>
    </div>
  </mat-toolbar>
</div>
